<!DOCTYPE HTML>
	<html>
		<head>
			<title>User Index Page</title>
		</head>

		<body>

		This is user page. </br>
		<p>==============</p>

	    <table>
	 		<tr>
	    		<th>User</th>
			</tr>
			
			<% @users.all.each do |user| %>
	  		<tr>
				<td><%= user.name %></td>
	    	</tr>
	   		<% end %>
		</table>
		
		<p>==============</p>

		<%= link_to 'Show all posts' , posts_path %>
		

		<p>==============</p>
		<%= link_to 'Create a user' , new_user_path %>		


		</body>
	</html>




