<!DOCTYPE HTML>
<html>
<head>
<title>Java lesson</title>
</head>
<body class="homepage">
<!-- Featured -->
<div id="featured">
<div class="container">
<header>
<h2>Android App 程式設計</h2>
</header>
<p>從基本的Java程式設計概念，深入淺出，透過Android實例演練，輕鬆學習APP程式開發</p>
<p>適合對象: 對Android有興趣即可，無需任何程式基礎</p>
<hr />
<div class="row">
<section class="4u">
<!-- <span class="pennant"><span class="fa fa-briefcase"></span></span> -->
<h3>Java 基礎程式設計</h3>
<ul>
<li>資料與變數</li>
<li>判斷式與迴圈</li>
<li>物件與類別</li>
<li>陣列與湊雜</li>
</ul>
<!-- <a href="#" class="button button-style1">Read More</a> -->
</section>
<section class="4u">
<!-- <span class="pennant"><span class="fa fa-globe"></span></span> -->
<h3>Android 基礎程式設計</h3>
<ul>
<li>開發環境設定</li>
<li>生命週期運作原理</li>
<li>3rd item</li>
<li>4th item</li>
</ul>
<!-- <a href="#" class="button button-style1">Read More</a> -->
</section>
<section class="4u">
<!-- <span class="pennant"><span class="fa fa-globe"></span></span> -->
<h3>Android APP實作</h3>
<ul>
<li>Layout版面設計</li>
<li>網路連線處理</li>
<li>3rd item</li>
<li>4th item</li>
</ul>
<!-- <a href="#" class="button button-style1">Read More</a> -->
</section>
</div>
</div>
</div>
<!-- Main -->
<div id="main">
<div id="content" class="container">
<div class="row">
</div>
<div class="row">
<section class="6u">
<header>
<h2>上課地點: 
	<a href="http://pinghouse.looker.tw/">怡木咖啡</a>
</h2>
</header>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14461.539799767652!2d121.526983!3d25.021007!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf30a3b5953ec5d3e!2z5oCh5pyo5bqr5oi_UGluZyBIb3VzZQ!5e0!3m2!1szh-TW!2stw!4v1423580480464" width="550" height="400" frameborder="0" style="border:0"></iframe>
</section>

<section class="6u">
<header>
<h2>課程費用與相關資訊</h2>
</header>
<ul class="leftList">
	<li>小班制: 學員六人以下 方便針對個別問題解答</li>
	<li>時數費用: 20小時 $9000元 場地費一杯飲料低消</li>
	<li>報名日期: 三月底前</li>
	<li>學員需自備筆記型電腦</li>
</ul>
</section>
</div>
</div>
</div>
<!-- Tweet -->
<div id="tweet">
<div class="container">
<section>
<blockquote>唯有不斷的學習與成長 才能讓夢想成真</blockquote>
</section>
</div>
</div>
<!-- Footer -->
<div id="footer">
<div class="container">
<section>
<header>
<h2>聯絡我們</h2>
<span class="byline">任何問題都歡迎來信與我們詳談</span>
</header>
<ul class="contact">
<!-- <li class="active"><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li> -->
<!-- <li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li> -->
<li><a href="mailto:nate@4am-tech.com" class="fa fa-dribbble"><span>Pinterest</span></a></li>
<!-- <li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li> -->
</ul>
</section>
</div>
</div>
<!-- Copyright -->
<div id="copyright">
<div class="container">
Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
</div>
</div>
</body>
</html>
