<!DOCTYPE HTML>
<html>
<head>
<title>Java lesson</title>
</head>
<body class="homepage">
<!-- Featured -->
<div id="featured">
<div class="container">
<header>
<h2>Python</h2>
</header>
<p>從基本的Java程式設計概念，深入淺出，透過Android實例演練，輕鬆學習APP程式開發</p>
<hr />
<div class="row">
<section class="4u">
<!-- <span class="pennant"><span class="fa fa-briefcase"></span></span> -->
<h3>Java 基礎程式設計</h3>
<ul>
<li>資料與變數</li>
<li>判斷式與迴圈</li>
<li>物件與類別</li>
<li>陣列與湊雜</li>
</ul>
<!-- <a href="#" class="button button-style1">Read More</a> -->
</section>
<section class="4u">
<!-- <span class="pennant"><span class="fa fa-globe"></span></span> -->
<h3>Android 基礎程式設計</h3>
<ul>
<li>開發環境設定</li>
<li>生命週期運作原理</li>
<li>3rd item</li>
<li>4th item</li>
</ul>
<!-- <a href="#" class="button button-style1">Read More</a> -->
</section>
<section class="4u">
<!-- <span class="pennant"><span class="fa fa-globe"></span></span> -->
<h3>Android APP實作</h3>
<ul>
<li>Layout版面設計</li>
<li>網路連線處理</li>
<li>3rd item</li>
<li>4th item</li>
</ul>
<!-- <a href="#" class="button button-style1">Read More</a> -->
</section>
</div>
</div>
</div>
<!-- Main -->
<div id="main">
<div id="content" class="container">
<div class="row">
<section class="6u">
<a href="#" class="image full"><img src="<%= asset_path("images/pic01.jpg")%>" alt=""></a>
<header>
<h2>4 AM Lesson 學員上課照片</h2>
</header>
<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
</section>
<section class="6u">
<a href="#" class="image full"><img src="<%= asset_path("images/pic02.jpg")%>" alt=""></a>
<header>
<h2>4 AM Lesson 學員上課照片</h2>
</header>
<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
</section>
</div>
<div class="row">
<section class="6u">
<a href="#" class="image full"><img src="<%= asset_path("images/pic03.jpg")%>" alt=""></a>
<header>
<h2>4 AM Lesson 學員上課照片</h2>
</header>
<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
</section>
<section class="6u">
<a href="#" class="image full"><img src="<%= asset_path("images/pic04.jpg")%>" alt=""></a>
<header>
<h2>4 AM Lesson 學員上課照片</h2>
</header>
<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
</section>
</div>
</div>
</div>
<!-- Tweet -->
<div id="tweet">
<div class="container">
<section>
<blockquote>唯有不斷的學習與成長 才能讓夢想成真</blockquote>
</section>
</div>
</div>
<!-- Footer -->
<div id="footer">
<div class="container">
<section>
<header>
<h2>聯絡我們</h2>
<span class="byline">任何問題都歡迎來信與我們詳談</span>
</header>
<ul class="contact">
<!-- <li class="active"><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li> -->
<!-- <li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li> -->
<li><a href="mailto:nate@4am-tech.com" class="fa fa-dribbble"><span>Pinterest</span></a></li>
<!-- <li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li> -->
</ul>
</section>
</div>
</div>
<!-- Copyright -->
<div id="copyright">
<div class="container">
Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
</div>
</div>
</body>
</html>
