<!DOCTYPE HTML>
	<html>
		<head>
			<title>Post Page</title>
		</head>

		<body>

		This is post page.
		<p>==============</p>

	    <table class="table table-condensed" style="width:50%">
	 		<tr>
	    		<th>Post</th>
	    		<th>User</th>
			</tr>

			<% @posts.all.each do |post| %>
	  		<tr>
	  			<% if post.user %>
				<td style="width:50%"><%= post.content %></td>
				<td style="width:50%"><%= post.user.name %></td>
				<% end %>
	    	</tr>
	   		<% end %>		

		</table>

		<p>==============</p>
		<%= link_to 'Show all users' , users_path %>
		
		<p>==============</p>
		<%= link_to 'Create a post' , new_post_path %>		

		</body>
	</html>




